.crx_mouse_visited:not(img) {
  background-color: #e6ffff !important;
  outline: 1px solid #5166bb !important;
}

.crx_mouse_clicked * {
	background-color: #fffdd0 !important;
	color: black !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font: Arial, Helvetica, sans-serif !important;
	font-style: normal !important;
	text-decoration: none !important;
	/*font-style: normal !important;*/
}
.crx_mouse_clicked i,em {/* makes italic text bold*/
	font-weight: bold !important;
}
/*problems: pictures disappear
should we make bold text bolder?
make CAPS to caps
NEED TO PUSH*/
