.crx_mouse_visited:not(img) {
  background-color: #e6ffff !important;
  outline: 1px solid #5166bb !important;
}

.crx_mouse_clicked * {
	background-color: #fffdd0 !important;
	color: black !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font: Arial, Helvetica, sans-serif !important;
	font-style: normal;
	text-decoration: none;
}
/*problems: pictures disappear
make italics bold instead of normal*/
