.crx_mouse_visited {
  background-color: #e6ffff !important;
  outline: 1px solid #5166bb !important;
}

.crx_mouse_clicked * {
	/*background-color: #fffdd0 !important;
	color: black !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font: Arial, Helvetica, sans-serif !important;*/
	font-style: normal !important;
	text-decoration: none !important;
	font-variant: normal !important; /*no small caps*/
  z-index: inherit;
	/*display: block;*/
}

.crx_mouse_clicked h1, .crx_mouse_clicked h2,
.crx_mouse_clicked h3, .crx_mouse_clicked h4,
.crx_mouse_clicked h5, .crx_mouse_clicked h6,
.crx_mouse_clicked i, .crx_mouse_clicked em {/* bolds headings, include?*/
	font-weight: bold !important;
}

.crx_mouse_clicked .fa {
  font-family: FontAwesome !important;
}

/*background colors*/

.bg_cream:not(img) {
	background-color: #fffdd0 !important;
}

.bg_white:not(img) {
	background-color: white !important;
}

.bg_black:not(img) {
  background-color: black !important;
}

.bg_rose:not(img) {
  background-color: #ffe4e1 !important;
}

/*fonts*/

@font-face {
  font-family: 'Open Dyslexic';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Open_Dyslexic/OpenDyslexic3-Regular.ttf');
}

@font-face {
  font-family: 'Open Dyslexic';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Open_Dyslexic/OpenDyslexic3-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Serif';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Noto_Serif/NotoSerif-Regular.ttf');
}

@font-face {
  font-family: 'Noto Serif';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/Noto_Serif/NotoSerif-Bold.ttf');
  font-weight: bold;
}

.opendyslexic * {
  font-family: "Open Dyslexic", cursive, sans-serif !important;
  font: "Open Dyslexic", cursive, sans-serif !important;
}

.opensans * {
  font-family: "Open Sans", cursive, sans-serif !important;
	font: "Open Sans", cursive, sans-serif !important;
}

.notoserif * {
  font-family: "Noto Serif", cursive, sans-serif !important;
	font: "Noto Serif", cursive, sans-serif !important;
}

.comicsans * {
	font-family: "Comic Sans MS", cursive, sans-serif !important;
	font: "Comic Sans MS", cursive, sans-serif !important;
}

.helvetica * {
	font-family: Helvetica, sans-serif !important;
	font: Helvetica, sans-serif !important;
}

.arial * {
	font-family: Arial, sans-serif !important;
	font: Arial, sans-serif !important;
}

/*text colors*/

.text_black * {
	color: black !important;
}

.text_white * {
  color: white !important;
}

/*color overlay*/

#df_overlay {
  z-index: 100000;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  pointer-events: none;
}
