@font-face {
  font-family: 'Open Dyslexic';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenDyslexic3-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 2%;
  min-width: 250px;
}

textarea {
  width: 5em;
  height: 1em;
  resize: none;
  overflow: hidden;
}

#preview {
  margin-top: 2%;
}

.option {
  width: 100%;
  margin-bottom: 3%;
}
