body {
  padding: 2%;
  min-width: 250px;
}

textarea {
  width: 5em;
  height: 1em;
  resize: none;
  overflow: hidden;
}

#preview {
  margin-top: 2%;
}

.option {
  width: 100%;
  margin-bottom: 3%;
}
